<div class="product-list">
  <form
    [formGroup]="searchProductForm"
    class="search-form"
    (submit)="submitForm()"
  >
    <mat-form-field appearance="outline" class="search-input">
      <mat-label>Enter keyword to search </mat-label>
      <input matInput formControlName="title" />
      <button mat-button matSuffix color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <mat-card class="product-card" *ngFor="let product of products">
    <div class="product-image">
      <img [src]="product.processedImg" alt="product-img" />
    </div>
    <div class="product-details">
      <h2 class="product-name">{{ product.name }}</h2>
      <p class="product-decription">
        {{ product.description }}
      </p>
      <mat-divider></mat-divider>
      <div class="product-info">
        <div class="info-row">
          <span class="info-label">Price:</span>
          <span class="info-value">$ {{ product.price }}</span>
        </div>
        <div class="info-row">
          <span class="info-label">Category:</span>
          <span class="info-value">{{ product.categoryName }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="actions">
        <button
          class="update-button"
          color="primary"
          mat-raised-button
          [routerLink]="'/admin/faq' + product.id"
        >
          FAQ
        </button>
        <button
          class="update-button"
          color="accent"
          mat-raised-button
          [routerLink]="'/admin/product/' + product.id"
        >
          Update
        </button>
        <button
          class="delete-button"
          color="warn"
          mat-raised-button
          (click)="deleteProduct(product.id)"
        >
          Delete
        </button>
      </div>
    </div>
  </mat-card>
</div>
