<div class="container">
  <h2>Add Product</h2>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="file-upload-container">
      <label class="file-upload-label">
        <span>Select a file </span>
        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
        <mat-icon>attach_file</mat-icon>
      </label>
      <div *ngIf="selectedFile" class="image-preview">
        <div class="circle-image">
          <img [src]="imagePreview" alt="Selected Image" class="preview-image">
        </div>
      </div>
    </div>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label >Select Category </mat-label>
      <mat-select formControlName="categoryId" name="categoryId">
        <mat-option *ngFor="let category of listOfCategories" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="productForm.get('categoryId')?.hasError('required')">this input is required !</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label >Name </mat-label>
      <input type="text" matInput placeholder="Name" formControlName="name" />
      <mat-error *ngIf="productForm.get('name')?.hasError('required')">this input is required !</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label >Price</mat-label>
      <input type="number" matInput placeholder="Price" formControlName="price" />
      <mat-error *ngIf="productForm.get('price')?.hasError('required')">this input is required !</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label >Description </mat-label>
      <textarea  matInput placeholder="Description" formControlName="description" ></textarea>
      <mat-error *ngIf="productForm.get('description')?.hasError('required')">this input is required !</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Add Product</button>
  </form>
</div>
